header

  nav.navbar.navbar-expand-lg.navbar-light.bg-light
    .navbar-nav
      a.nav-link(href="/" class={active : pageId === 'index'}) Home
      a.nav-link(href="plans.html" class={active : pageId === 'plans'}) Plans
      a.nav-link(href="contacts.html" class={active : pageId === 'contacts'}) Contacts

  div
    p Это хедер.
    p ID текущей страницы: #{pageId} (это ещё хедер).